***Mandatory project***

1.You are working in a bank and you have been given two lists of the employees who worked in 2021. Employee’s name in list 1 are Ramesh, Suresh, Mahesh, Ali, Jacob and Saritha. List 2 contains the names of Ali, Mukesh, Mahesh, Jacob, Sai, Sarita. Please write a program which helps to identify people who are common in both lists. Please do not use any in-built function.

In [ ]:
import pandas as pd

In [ ]:
 ##Solution No. 1
def common_member(x,y):
  a_set = set(list1)
  b_set = set(list2)
  if (a_set & b_set):
    print(a_set & b_set)
  else:
      print("no common elements")

list1 =["Ramesh","Suresh","Mahesh","Ali","Jacob","Saritha"]
list2 =["Ali","Mukesh","Mahesh","Jacob","Sai","Saritha"]
common_member(list1,list2)

{'Jacob', 'Saritha', 'Ali', 'Mahesh'}

In [ ]:
## Solution No. 2
def common_member(a,b):
  a_set = set(a)
  b_set = set(b)
  if len(a_set.intersection(b_set)) >0:
    return(a_set.intersection(b_set))
  else:
    return("no common member")

list1 =["Ramesh","Suresh","Mahesh","Ali","Jacob","Saritha"]
list2 =["Ali","Mukesh","Mahesh","Jacob","Sai","Saritha"]
print("common_member are :",common_member(list1,list2))

common_member are : {'Jacob', 'Saritha', 'Mahesh', 'Ali'}

In [ ]:
## Solution No. 3
def common_member(a,b):
  result = [i for i in a if i in b]
  return result

a =["Ramesh","Suresh","Mahesh","Ali","Jacob","Saritha"]
b =["Ali","Mukesh","Mahesh","Jacob","Sai","Saritha"]

print("The common member elements in the two lists are ")
print(common_member(a,b))

The common member elements in the two lists are
['Mahesh', 'Ali', 'Jacob', 'Saritha']

2.While entering data, someone entered a few names as a common string “Ramesh Suresh Mohit”. Please write a program which separates all the names and convert them into a list. Once converted in a list, please write a program which adds their age.
Ramesh :  25
Suresh : 22
Mohit : 26

In [47]:
### Solution 1
txt = "Ramesh Suresh Mohit"
x = txt.split()
list_x = list(x)
age = [25,22,26]
res = {}
for key in list_x:
    for value in age:
        res[key] = value
        age.remove(value)
        break
res

{'Ramesh': 25, 'Suresh': 22, 'Mohit': 26}

In [48]:
#### solution 2
txt = "Ramesh Suresh Mohit"## given data
x = txt.split() ## seperated in elements
list_x = list(x) ## create a list
age = (25,22,26)
dict = {}
dict["Ramesh"] = 25
dict["Suresh"] = 22
dict["Mohit"] = 26
print(dict)

{'Ramesh': 25, 'Suresh': 22, 'Mohit': 26}

3.A few students from a university have taken three exams
Name = Sam, Jacy, Tom, Steve
Python = 25, 26, 29, 28
Statistics = 23, 21, 19, 25
SQL = 29, 27, 28, 25

Please write a program which calculates mean values (no in-built function for mean) of all three tests and print the highest mean value. Addition and other functions are allowed. Please also report who scored the highest mark in python using programming construct.

In [49]:
students = ["Sam","Jacy","Tom","Steve"]
python = [25,26,29,28]
statistics = [23,21,19,25]
SQL = [29,27,25,25]
### Mean marks of python
add =0
for i in python :
  i=i+add
  add=i
mean_of_marks=i/len(python)
print("average marks of python : ",mean_of_marks)
###Mean marks of statistics
add =0
for i in  statistics:
  i=i+add
  add=i
mean_of_marks=i/len(statistics)
print("avrage marks of statistics : ",mean_of_marks)
### Mean marks of statistics
add =0
for i in SQL :
  i=i+add
  add=i
mean_of_marks=i/len(SQL)
print("average marks of SQL : ",mean_of_marks)

average marks of python :  27.0
avrage marks of statistics :  22.0
average marks of SQL :  26.5

In [50]:

students = ["Sam","Jacy","Tom","Steve"]
python = [25,26,29,28]
res = {}
for key in students:
    for value in python:
        res[key] = value
        python.remove(value)
        break
 
print(f"{max(res)} got maximum marks in python ")

Tom got maximum marks in python

4.You are working in a medical store. A patient came to your medical store and asked to buy 2 strips of paracetamol, 3 strips of azithromycin and 5 strips of Vitamin C. One strip of paracetamol costs Rs 35, one strip of azithromycin costs Rs 49 and one strip of vitamin c costs Rs. 33. Patient gave you Rs 2000. Please tell us what is the total cost of each medicine, total cost of all medicine and how much money you refunded to the patient?

In [31]:
                    ## paracetamol
x = 35                         ##cost of one strip of paracetamol
nx = 2                         ## no of strip bought by customer
print("total_cost_Paracetamol : ",(x*nx))            ## total cost of paracetamol         
                    ## Azithromycin
y = 49                         ## cost of one strip of azithromycin
ny = 3                         ## no of strips bought by customer 
print("total_cost_Azithromycin : ",(y*ny))           ## total cost of Azithromycin
                    ##Vitamin C
z = 33                         ## cost of one strip of vitamin c
nz = 5                         ## no of strips bought by customer
print("total_cost_Vitamin_C : ",(z*nz))            ## total cost of vitamin c  
                   ## customer paid 2000 rs
paid = 2000
c= (x*nx) +(y*nx) +(z*nz)
print("total_cost_of_medicine : ",((x*nx) +(y*nx) +(z*nz)))
print("money refunded to customer :",(paid - ((x*nx) +(y*nx) +(z*nz))))

total_cost_Paracetamol :  70
total_cost_Azithromycin :  147
total_cost_Vitamin_C :  165
total_cost_of_medicine :  333
money refunded to customer : 1667

5.Accept a sentence as input and find the number of vowels in it. Assume that the sentence has no punctuation marks. For example: I am learning python contains 6 vowels. This function should be applicable for all other different sentences

In [10]:
### solution 1
my_str =str(input("please enter your sentence here :"))
vowels = {"a","e","i","o","u","A","E","I","O","U"}
if any(char in vowels for char in my_str):
    print("your sentence has been accepted !")
else:
    print("not accpepted")

please enter your sentence here :hi
your sentence has been accepted !

In [22]:
### solution 2
my_str =str(input("please enter your sentence here : "))
vowels = {'a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U'}
def contains_vowels(string):
    for char in string:
        if char in vowels:
            return "your sentence has been accepted"
    return "not accepted"
contains_vowels(my_str)

please enter your sentence here : mbvnzb

'not accepted'

In [45]:
### solution 3
vowels = {'a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U'}
my_str = str(input("please enter your sentence here : "))
vowels_in_string = []
for char in my_str:
    if char in vowels:
        print(f'{char} is a vowel')

        if char not in vowels_in_string:
            vowels_in_string.append(char)
    else:
        print(f'{char} is a consonant')

please enter your sentence here : hi
h is a consonant
i is a vowel

6.You have been appointed by the election commission to create a website. Your first task is to work on a program which tells candidates if they are eligible for voting or not. If they are eligible your output should be ‘Congrats! You are eligible’, otherwise it should tell that you have to return after X number of years. Eligibility criteria for voting is 18 years.

For example, If someone is 18 or above your output should be ‘Congrats! You are eligible’. If someone’s age is 15 years it should print output as ‘return after 3 years’.

In [54]:
### Solution .1
age =int(input("Please enter your age here :"))
years_remaining = 18 - age
if age >= 18:
  print("Congrats ! You are eligible")
else:
  print(f"return after {years_remaining} years :")

Please enter your age here :17
return after 1 years :

In [53]:
#### solution 2
age =int(input("Please enter your age here :"))
years_remaining = 18 - age
print("congrats ! you are eligible ") if age >= 18 else print(f"return after {years_remaining} years")

Please enter your age here :15
return after 3 years